{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="msapplication-tap-highlight" content="no">
  <title>Quranic Verse Finder</title>
    <link rel="icon"href="{% static 'images/index2.png' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/recorderstyle.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
<style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>  
</head>
 <body>
  <main>
    <div class="container">
      <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
<!--          <img src="{% static 'images/index2.png' %}" alt="Logo" width="50" height="32"/> -->
          <span class="fs-4">Quran Verse Finder</span>
        </a>
  
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
          <li><a href="/" class="nav-link px-2 link-dark">Help</a></li>
          <li><a href="/" class="nav-link px-2 link-dark">Donate</a></li>
          <li><a href="/" class="nav-link px-2 link-dark">Contact</a></li>
          <li><a href="/" class="nav-link px-2 link-dark">About</a></li>
        </ul>
  
        <div class="col-md-3 text-end">
          <button type="button" class="btn btn-outline-primary me-2">Login</button>
          <button type="button" class="btn btn-primary">Sign-up</button>
        </div>
      </header>
    </div> 
    <div class="container">
      <div>
        <div class="bg-light p-5 rounded">
          <div class="mx-auto">
            <nav>
              <div class="nav nav-tabs mb-1" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Record Audio</button>
                <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Type Text</button>
                <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Audio File</button>
              </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <div class="text-center">
                  <img class="d-block mx-auto mb-4" src="{% static 'images/index2.png' %}" alt="Logo" width="192" height="192"/>
                  <h1 class="display-6 fw-bold text-primary">Quranic Verse Finder</h1>            
                </div>
                <div class="col-md-6 mx-auto text-center mt-4">
                  <label for="name" class="form-label fw-bold fs-5">Please Tap on the Mic to Start Reciting</label>
                  <div class="mx-auto my-5 align-items-center justify-content-center d-flex">
                        <i class="start-recording-button fa fa-microphone" aria-hidden="true"></i>
                        <div class="recording-contorl-buttons-container hide">
                            <i class="cancel-recording-button fa fa-times-circle-o" aria-hidden="true"></i>
                            <div class="recording-elapsed-time">
                                <i class="red-recording-dot fa fa-circle" aria-hidden="true"></i>
                                <p class="elapsed-time"></p>
                            </div>
                            <i class="stop-recording-button fa fa-stop-circle-o" aria-hidden="true"></i>
                        </div>
                  </div>                
              </div>
                </div>
              <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div class="text-center">
                  <img class="d-block mx-auto mb-4" src="{% static 'images/index2.png' %}" alt="Azure Logo" width="192" height="192"/>
                  <h1 class="display-6 fw-bold text-primary">Quranic Verse Finder</h1>            
                </div>
                  <div class="col-md-8 mx-auto text-center mt-4">
                      <label for="name" class="form-label fw-bold fs-5">Please Type an Arabic Text of a Verse</label>
      
                      <div class="col-md-6 mx-auto my-4">
                          <input type="text" class="form-control" id="Text" name="Text" required>
                        </div>            
                      <div class="gap-2 d-sm-flex justify-content-sm-center my-4">
                        <button onclick="searchfindText()" id="textbutton" class="btn btn-primary">Find Verse</button>
                      </div>            
                  </div>
              </div>
              <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                <div class="text-center">
                  <img class="d-block mx-auto mb-4" src="{% static 'images/index2.png' %}" alt="Azure Logo" width="192" height="192"/>
                  <h1 class="display-6 fw-bold text-primary">Quranic Verse Finder</h1>            
                </div>
                  <div class="col-md-8 mx-auto text-center mt-4">
                      <label for="name" class="form-label fw-bold fs-5">Please Insert an audio File of Verse</label>
                        <div class="col-md-6 mx-auto my-4">
                          <input type="file" id="file" name="file" accept="audio/*" class="form-control" required>
                        </div>
                        <div class="gap-2 d-sm-flex justify-content-sm-center my-4">
                          <button onclick="searchfind()" id="audiobutton" class="btn btn-primary">Submit</button>
                        </div>
                  </div>
              </div>
            </div>
          </div>
          <div>
          </div>              
        </div>
      </div>
      <footer class="pt-5 my-5 text-muted border-top">
          Created by the Bature Dev team &middot; &copy; 2022
      </footer>        
    </div>
</main>
    <script src="{% static 'bootstrap/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/recorder.js' %}"></script>
    <script src="{% static 'bootstrap/js/index.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/cheatsheet.js' %}"></script>

</body>

</html>