{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Simple Recorder.js demo with record, stop and pause - addpipe.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    
  </head>
  <body>
    <div id="controls">
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center my-5">
        <button id="recordButton" class="btn btn-primary btn-lg px-4 gap-3">Record</button>
        <button id="pauseButton" class="btn btn-primary btn-lg px-4 gap-3"disabled>Pause</button>
        <button id="stopButton" class="btn btn-primary btn-lg px-4 gap-3"disabled>Stop</button>
      </div>
      <p class="mx-5"><strong>Recordings:</strong></p>
      <ol id="recordingsList" class="mx-5"></ol>  
    </div>
    <!-- inserting these scripts at the end to be able to use all the elements in the DOM -->
  	<script src="{% static 'bootstrap/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/recorder.js' %}"></script>
  	<script src="{% static 'bootstrap/js/app.js' %}"></script>
  </body>
</html>